html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  text-align: center;
  margin: 0;
  background-color: beige;
  font-family: sans-serif;

}

#Navigationsseite {
  position: sticky; top: 0;
  border: 10px solid beige;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: beige;
  }



.links {
  color: black;
}

a:hover {
  font-size: 1.2rem;
}

a:visited {
  color: black;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: medium;
}

img {
  width: 400px;
  height: 300px;}

#box {border: 2px solid beige;
margin: 1px; }
