html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  text-align: center;
  font-family: sans-serif;
  margin: 10px;
  background-color: rgb(199, 199, 25);
}

#Navigationsseite {
  position: sticky; top: 0;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  text-align: center;
  background-color: white;
  }

.links {
  color: black;
}

a:hover {
  font-size: 1.2rem;
}
a:visited {
  color: black;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: medium;
  text-align: center;
}

img {
  width: 400px;
  height: 300px;
}

#box2 {
  border-top: 5px solid black;
  border-bottom: 0.000001px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/145/325/original/simple-yellow-business-background-with-yellow-circle-border-abstract-yellow-wallpaper-used-for-for-banner-web-header-cover-wallpaper-billboard-brochure-social-media-landing-page-free-vector.jpg");

}

#steckbrief-box {
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  border: 5px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  margin-top: 1%;
  text-align: center;
  
}

.umrandungen { 
  margin: 1%;
  border-color: 5px solid black;
  padding: 5px;
}


#Bild {
  padding: 10px ;
  border-color: 10px solid black;
}

