html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  text-align: center;
  background-color: beige;
  font-family: sans-serif;
  border-bottom: 10px solid lightgray;
  border-left: 10px solid lightgray;
  border-right: 10px solid lightgray;

}

#Navigationsseite {
  position: sticky; top: 0;
  border-top: 10px solid lightgray;
  border-bottom: 10px solid lightgray;
  border-left: 0px solid lightgray;
  border-right: 00px solid lightgray;
  text-align: center;
  background-color: beige;
  }



.links {
  color: black;
}

a:hover {
  font-size: 1.2rem;
}

a:visited {
  color: black;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: medium;
}

img {
  width: 400px;
  height: 300px;}

#box2 {
  border-top: 10px solid lightgray;
  border-bottom: solid lightgray;
  border-left: 0px solid lightgray;
  border-right: 0px solid lightgray;
}
